#check {
    transform: scale(2);
    float: left;
}

ul {
    list-style: none;
}

#todo-text {
    width: 600px;
    background-color: #699AB3;
}
#todo-name {
   background-color: #699AB3;
}

#first {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

input[type=text] {
    color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
    /* left: 10px; */
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 36px;
}

input[type=checkbox] {
    transform: scale(2.5);
    position: relative;
    top: 15px;
    left: 10px;
}

label {
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
    display: block;
}
button {
    display: inline-block;
}

button:not(#add-button) {
    float: right;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    top: 10px;
    border: none;
    position: relative;
}
button:hover {
    background-color: #f80000e1;
    color: white;
}
