body {
    background-color: #2D424D;
    color: white;
    font-family: 'SF Pro';
}

#todo-name {
    background-color: #699AB3;
}

#add-button {
    background: rgb(48, 187, 141); 
    color: white;
    border: none;
    padding: 20px;
    text-align: center;
    display: inline-block;
    font-size: 42px;
    font-weight: bold;
    width: 80px;
    position: relative;
    border-radius: 100px;
}
#myTodos {
    margin-left: auto;
    margin-right: auto;
}

#add-button:hover {
    background: rgb(112, 255, 184);
}

p{
    position: relative;
    top: 40px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    color: #FFF;
    border-radius: 12px;
    border: 2px;
    background-color: #78B1CD;
    width: 800px;
    height: 60px;
    padding: .2em .8em;
    text-decoration: none;
    margin-bottom: 1rem;
}
#todo-list-elements {
    text-align: left;
}
div {
    margin-left: auto;
    margin-right: auto;
}

input[type=text] {
    color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 36px;
}
form {
    margin-left: auto;
    margin-right: auto;
}

input[type=checkbox] {
    position: relative;
    top: 15px;
    transform: scale(2);
    float: left;
}


button {
    display: inline-block;
}

button:not(#add-button) {
    float: right;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    top: 10px;
    border: none;
    position: relative;
}
button:hover {
    background-color: #f80000e1;
    color: white;
}
