
#todo-text {
     width: 600px;
     background-color: #699AB3;
}
#todo-name {
    background-color: #699AB3;
}

.crossed-line {
    text-decoration: line-through;
}

p{
    position: relative;
    top: 36px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.4em;
    display: block;
    color: #FFF;
    border-radius: 12px;
    border: 2px;
    background-color: #78B1CD;
    width: 800px;
    height: 60px;
    padding: .2em .8em;
    text-decoration: none;
    margin-top: -10px;
    margin-bottom: 1rem;
    position: relative;
    left: 40px;

}

#todo-list-elements {
    text-align: left;
}


input[type=text] {
    color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
    /* left: 10px; */
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 36px;
}

input[type=checkbox] {
    transform: scale(2.5);
    position: relative;
    top: 15px;
    left: 10px;
}

label {
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
    display: block;
}
button {
    display: inline-block;
}

button:not(#add-button) {
    float: right;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    top: 10px;
    border: none;
    position: relative;
}
button:hover {
    background-color: #f80000e1;
    color: white;
}
