p {
    margin-top: -10px;
    margin-bottom: 1rem;
    position: relative;
    left: 40px;
}
#check {
    transform: scale(2);
    float: left;
}
ul {
    list-style: none;
}
.container {
    position: relative;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
button {
    display: inline-block;
}

button:not(#add-button) {
    float: right;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    top: 10px;
    border: none;
    position: relative;
}
#todo-text {
    width: 600px;
    background-color: #699AB3;
}
#todo-name {
   background-color: #699AB3;
}

#add-button {
   background: rgb(48, 187, 141); 
   color: white;
   border: none;
   padding: 20px;
   text-align: center;
   display: inline-block;
   font-size: 42px;
   font-weight: bold;
   width: 80px;
   position: relative;
   border-radius: 100px;
}

#add-button:hover {
   background: rgb(112, 255, 184);
}

#todo-list-elements li{
   position: relative;
   top: 36px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 0.4em;
   display: block;
   color: #FFF;
   border-radius: 12px;
   border: 2px;
   background-color: #78B1CD;
   width: 800px;
   height: 60px;
   padding: .2em .8em;
   text-decoration: none;

}

#todo-list-elements {
   text-align: left;
}
